.shopping-lists {
  display: flex;
  margin-top: 10px;
}

.shopping-lists ul {
  margin: 0;
  padding: 0;
  width: 100%;
}

.list-card {
  margin: 10px 0;
  background: #f1f3fa;
  padding: 20px;
}

.list-card:hover {
  border-left: 5px solid $primary;
}

.list-card-actions {
  display: flex;
  justify-content: flex-end;
}

.list-card-actions a {
  margin: 0 10px;
  color: $text !important;
}
